@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?76bf38867505cfcc04bb61fcec6d6b7c") format("truetype"),
url("./flaticon.woff?76bf38867505cfcc04bb61fcec6d6b7c") format("woff"),
url("./flaticon.woff2?76bf38867505cfcc04bb61fcec6d6b7c") format("woff2"),
url("./flaticon.eot?76bf38867505cfcc04bb61fcec6d6b7c#iefix") format("embedded-opentype"),
url("./flaticon.svg?76bf38867505cfcc04bb61fcec6d6b7c#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-location-pin:before {
    content: "\f101";
}
.flaticon-phone-call:before {
    content: "\f102";
}
.flaticon-chronometer:before {
    content: "\f103";
}
.flaticon-monitor:before {
    content: "\f104";
}
.flaticon-report:before {
    content: "\f105";
}
.flaticon-taxation:before {
    content: "\f106";
}
.flaticon-innovation:before {
    content: "\f107";
}
.flaticon-money:before {
    content: "\f108";
}
.flaticon-financial-profit:before {
    content: "\f109";
}
.flaticon-email:before {
    content: "\f10a";
}
.flaticon-shuttle:before {
    content: "\f10b";
}
.flaticon-planning:before {
    content: "\f10c";
}
.flaticon-gear:before {
    content: "\f10d";
}
.flaticon-corporation:before {
    content: "\f10e";
}
.flaticon-lamp:before {
    content: "\f10f";
}
.flaticon-handshake:before {
    content: "\f110";
}
.flaticon-branding:before {
    content: "\f111";
}
.flaticon-project-management:before {
    content: "\f112";
}
.flaticon-medal:before {
    content: "\f113";
}
.flaticon-clock:before {
    content: "\f114";
}
.flaticon-user:before {
    content: "\f115";
}
.flaticon-calendar:before {
    content: "\f116";
}
.flaticon-comment:before {
    content: "\f117";
}
